<% flash.each do |key, value| %>
  <div>
    <p>
      <%= value %>
    </p>
  </div>
<% end %>

<% if @tweet.errors.any? %>
  <div>
    <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="tweet-form">
  <%= form_with(model: @tweet, local: true, url: choice_path) do |form| %>
    <table>
      <tr>
        <th>
          <%= form.label :content %>
        </th>
        <td>
          <%= form.text_field :content %>
        </td>
      </tr>
      <tr>
        <th>
          <% if action_name == "new" || action_name == "confirm" || action_name == "create" %>
            <%= form.submit "新規登録する" %>
          <% elsif action_name == "edit" || action_name == "update" %>
            <%= form.submit "編集する" %>
          <% end %>
        </th>
      </tr>
    </table>
  <% end %>
</div>

<%= link_to "ツイート一覧へ戻る", tweets_path %>