<h1>ツイート内容を確認する</h1>

<div class="tweet-form">
  <h4><%= @tweet.content %></h4>

  <p>
    投稿日：<%= @tweet.created_at.to_s.slice(0..19) %>
  </p>

  <p>
    編集日：<%= @tweet.updated_at.to_s.slice(0..19) %>
  </p>
</div>

<%= link_to "ツイート内容を編集する", edit_tweet_path(@tweet) %>
<br>
<%= link_to "ツイート一覧へ戻る", tweets_path %>