<!DOCTYPE html>
<html>
  <head>
    <title>DiveTwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>
        今何してる？
      </p>
    </header>

    <%= yield %>

    <footer>
      <p>
        ●witter Japan All rights reserved
      </p>
    </footer>
  </body>
</html>
